#background, #login, #register {
    width: 100%;
    height: 100vh;
       background: url("/storage/images/background.jpg") top center;
    background-size: cover;
  
  }



  body {
    background-color:rgb(249, 251, 250);
}

img.slider-img{
    height: 400px !important
}

.custom-product{
height: 600px

}



.slider-text{
background-color: #35443585;

}


.trending-item{
    float: left;
    width: 25%;
    padding-top: 30px;
   
}

.trending-img{
    height: 200px;
    width: 100%;
   
}

.detail-img{
    height:300px;
}

.cart-list-divider{
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 20px;
}



#newIn {
background-color: rgb(198, 208, 204);
border-radius: 5px;
}

#newInItems {
  background-color: blue;
}

.card-header {
  background: url("/storage/images/bg-head.jpg") center center/cover no-repeat;
  height: 200px;
  text-align: center;
  color:aliceblue;
}

.card-body {
  background-color: aliceblue;
}